{% extends 'base.html.twig' %}


{% block body %}
    <h1>Please enter your JIRA username and password</h1>
    <p>None of these credentials will be stored (no worries)</p>
    {{ form(loginform) }}
{% endblock body %}